@font-face {
      font-family: "Effra-Medium";
      src: url("../fonts/Effra-Medium.ttf") format("ttf"),
    url("../fonts/Effra-Medium.eot") format("eot"),
    url("../fonts/Effra-Medium.woff2") format("woff2");
      font-weight: normal;
      font-style: normal;
    }